<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>Rezzy's cave</title>
    <style>
        pre.ascii-art {
            font-family: monospace;
            white-space: pre;
            color: #6b46c1; /* Deep purple */
            text-align: center;
        }
    </style>
<body>
<nav class="bg-gradient-to-r from-gray-900 to-gray-800 p-4 shadow-lg text-white">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
        <a href="https://media1.tenor.com/m/5BYK-WS0__gAAAAd/cool-fun.gif" target="_blank" class="flex items-center">
            <img src="https://pbs.twimg.com/profile_images/1528646071479459840/rQ2JwauK_400x400.jpg" alt="Brand Logo" class="mr-3 h-6 sm:h-9 rounded-full">
            <span class="self-center text-xl font-semibold whitespace-nowrap">Rezzyyyyyy</span>
        </a>
        <button data-collapse-toggle="mobile-menu" class="inline-flex items-center p-2 ml-3 text-sm text-white rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    <a href="https://www.youtube.com/watch?v=vcAp4nmTZCA" class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:p-0" aria-current="page">Bladee button</a>
                </li>
                <li>
                    <a href="/silly" class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:p-0" aria-current="page">Silly Page</a>
                </li>
                <li>
                    <a href="/about" class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:p-0" aria-current="page">About Me</a>
                </li>
                <li>
                    <a href="/yip_box" class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:p-0" aria-current="page">Yip Box</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
