/* Import Tailwind CSS */
@import "tailwindcss/base";

/* Custom ASCII Art Header */
pre.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: #6b46c1; /* Deep purple */
    text-align: center;
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom dark theme styles */
body {
    background-color: #ffb6c1 !important; /* Lighter pink background */
    color: #000000; /* Black text */
}

.bg-blue-500 {
    background-color: #6b46c1; /* Deep purple */
}

.bg-blue-700 {
    background-color: #2c5282; /* Even darker blue */
}

.bg-orange-500 {
    background-color: #dd6b20; /* Darker orange */
}

.bg-orange-700 {
    background-color: #c05621; /* Even darker orange */
}

.bg-pink-500 {
    background-color: #d53f8c; /* Darker pink */
}

.bg-pink-700 {
    background-color: #b83280; /* Even darker pink */
}

.bg-gray-800 {
    background-color: #2d3748; /* Darker gray */
}

.bg-gray-900 {
    background-color: #1a202c; /* Even darker gray */
}

.bg-purple-500 {
    background-color: #805ad5; /* Darker purple */
}

.bg-purple-700 {
    background-color: #6b46c1; /* Even darker purple */
}

.bg-black {
    background-color: #000000; /* Black */
}

.hover\:bg-gray-800:hover {
    background-color: #2d3748; /* Darker gray on hover */
}

.hover\:bg-blue-700:hover {
    background-color: #2c5282; /* Even darker blue on hover */
}

.hover\:bg-orange-700:hover {
    background-color: #c05621; /* Even darker orange on hover */
}

.hover\:bg-pink-700:hover {
    background-color: #b83280; /* Even darker pink on hover */
}

.hover\:bg-gray-900:hover {
    background-color: #1a202c; /* Even darker gray on hover */
}

.hover\:bg-purple-700:hover {
    background-color: #6b46c1; /* Even darker purple on hover */
}

/* those are all prolly useless now but im too scared to delete them */

.bg-space {
    background-color: #1B1B3A;
}
.bg-finn {
    background-color: #693668;
}

.bg-haze {
    background-color: #a74482;
}

.bg-rose {
    background-color: #F84AA7;
}

.bg-folly {
    background-color: #FF3562;
}

.hover\:bg-space:hover {
    background-color: #1B1B3A;
}
.hover\:bg-finn:hover {
    background-color: #693668;
}

.hover\:bg-haze:hover{
    background-color: #a74482;
}

.hover\:bg-rose:hover {
    background-color: #F84AA7;
}

.hover\:bg-folly:hover {
    background-color: #FF3562;
}
