<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    {% include 'partials/_header.html' %}
    <div class="container mx-auto px-4 mt-8 min-h-screen">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <a href="https://twitter.com/Rezzybxy" target="_blank" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter" class="w-6 h-6 mr-2">
                Twitter
            </a>
            <a href="https://soundcloud.com/rezzybxy" target="_blank" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/145/145809.png" alt="SoundCloud" class="w-6 h-6 mr-2">
                SoundCloud
            </a>
            <a href="https://ko-fi.com/Rezzy" target="_blank" class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111574.png" alt="Ko-fi" class="w-6 h-6 mr-2">
                Ko-fi
            </a>
            <a href="https://github.com/Rezzylol" target="_blank" class="bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub" class="w-6 h-6 mr-2">
                GitHub
            </a>
            <a href="https://www.twitch.tv/Rezzybxy" target="_blank" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968819.png" alt="Twitch" class="w-6 h-6 mr-2">
                Twitch
            </a>
            <a href="https://www.tiktok.com/@Rezzybets" target="_blank" class="bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png" alt="TikTok" class="w-6 h-6 mr-2">
                TikTok
            </a>
        </div>
    </div>
    {% include 'partials/_footer.html' %}
    {% include 'partials/_footer.html' %}
</body>
</html>