<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/jpeg" href="static/favicon.ico">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    {% include 'partials/_header.html' %}
    <div class="container mx-auto px-4 mt-8 min-h-screen">
        <h1 class="text-4xl font-bold mb-4">Rezzy of the Day ARCHIVE</h1>
        <p class="text-lg"> 14/06/2024</p> <br>
        <p class="text-lg"> i listened to Brat. 7 rezzys out of 10.</p>

   </div>
   <div class="fixed bottom-0 right-0 p-4 text-black">
       I have your IP!!! :3c {{ user_ip }}<br>
       You are the {{ visitor_number }}th visitor!
   </div>
   <div class="flex justify-center">
    <audio id="bgMusic" controls autoplay loop>
        <source src="https://rezzy.win/static/music/bn2meloop.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>  
</div>

</body>
<footer class="fixed bottom-0 left-0 right-0 flex justify-center space-x-2">
    <a href="https://roadpirrate.neocities.org/" target="_blank">
        <img class="banner" src="https://hellnet.work/8831/img/buttons/MotorCity_6352_box2.gif" alt="csbanner" height="31" width="88">
    </a>
    <a href="https://kei.flex.lol/" target="_blank">
        <img class="banner" src="https://cyber.dabamos.de/88x31/cyberdog.gif" alt="cyberdog" height="31" width="88">
    </a>
    <a href="https://laybugtheraven.neocities.org/" target="_blank">
        <img class="banner" src="https://cyber.dabamos.de/88x31/paws.gif" alt="tigers" height="31" width="88">
    </a>
    <a href="https://sosaline.neocities.org/" target="_blank">    
        <img class="banner" src="https://cyber.dabamos.de/88x31/casino97.gif" alt="bruck" height="31" width="88">
    </a>
    <img class="banner" src="https://cyber.dabamos.de/88x31/cinni_angelbutton3.gif" alt="cinni_angelbutton3" height="31" width="88">
    <img class="banner" src="https://cyber.dabamos.de/88x31/reshirii.gif" alt="reshirii" height="31" width="88">
    <img class="banner" src="https://cyber.dabamos.de/88x31/csbanner.gif" alt="csbanner" height="31" width="88">
</footer>
</html>