<!DOCTYPE html>
<html lang="en">
    
<style>
  body {
   background-image: url('https://moddingofisaac.com/modfiles/3f0f37279fa4/screenshots/1.jpg?v=7bfbb2');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
     }
    h1 {text-align: center;}
    img {text-align: center;}
    div {text-align: center;}
    audio {text-align: center;}
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 </style>
<head>
    <title>how did you get here</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/jpeg" href="static/favicon.ico">
</head>
<body class="center bg-black font-sans leading-normal tracking-normal">
<h1 class="text-4xl font-bold mb-4 text-white">You have found the super secret room :o</h1>
<br>
<img class="center" src="https://cdn.discordapp.com/attachments/1041206511088713871/1249689346827878451/tgmeme.png?ex=66683766&is=6666e5e6&hm=e9fe54b06fadbc51a5326b79a33784bac3caccc456a7ce55b9c81f17752fd5f2&">
<br>
<p class="center text-white">dont tell anyone</p>
<br>
<div class="center">
    <audio controls autoplay loop>
        <source src="https://rezzy.fr/static/music/secret_room.mp3" type="audio/mpeg">
    </audio>  
</div>
</body>
