<!DOCTYPE html>
<html lang="en">
    
<style>
  body {
   background-image: url('https://moddingofisaac.com/modfiles/3f0f37279fa4/screenshots/1.jpg?v=7bfbb2');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
     }
    h1 {text-align: center;}
    img {text-align: center;}
    div {text-align: center;}
    audio {text-align: center;}
 </style>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>how did you get here</title>
</head>
<body class="fixed justify-center bg-black font-sans leading-normal tracking-normal">
<h1 class="text-4xl font-bold mb-4 text-white">You have found the super secret room :o</h1>
<br>
<img src="https://cdn.discordapp.com/attachments/1041206511088713871/1249638181108842496/isaacnobg.png?ex=666807bf&is=6666b63f&hm=a900f1911bac17ec7d4342b463f4f5493eb16c056235d962d3e28a8d7011b914&">
<br>
<p class="text-white">dont tell anyone</p>
<br>
<div class="flex">
    <audio controls autoplay loop>
        <source src="https://rezzy.fr/static/music/secret_room.mp3" type="audio/mpeg">
    </audio>  
</div>
</body>
