<!DOCTYPE html>
<html lang="en">
    
<style>
  body {
   background-image: url('https://moddingofisaac.com/modfiles/3f0f37279fa4/screenshots/1.jpg?v=7bfbb2');
     }
 </style>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>how did you get here</title>
</head>
<body class="bg-black font-sans leading-normal tracking-normal">
<h1 class="text-4xl font-bold mb-4 text-white">You have found the super secret room :o</h1>
<img src="https://cdn.discordapp.com/attachments/1041206511088713871/1249631021561938014/image.png?ex=66680114&is=6666af94&hm=a9c21eaec7f5402033f0bafa0899e8fa0d6149f24e4850921507b9278caed8c5&">
<br>
<p class="text-white">dont tell anyone</p>
<br>
<div class="flex">
    <audio controls autoplay loop>
        <source src="https://rezzy.fr/static/music/secret_room.mp3" type="audio/mpeg">
    </audio>  
</div>
</body>
