<!DOCTYPE html>
<html lang="en">
<div></div>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/jpeg" href="static/favicon.ico">
</head>


<p>sorry chat it turns out making a chat box is actually incredibly fucking hard, sorry folks ill keep cooking, check back in a week</p>

<img src="https://i.imgflip.com/4u8tgt.jpg?a477120" alt="oldmate">

<div class="fixed bottom-0 right-0 p-4 text-black">
    I have your IP!!! :3c {{ user_ip }} <br>
    You are the {{ visitor_number }}th visitor!
    Hosted by kay!
</div>
</div>
<div class="flex justify-center">
    <audio id="bgMusic" controls autoplay loop>
        <source src="https://rezzy.fr/static/music/bn2meloop.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>  
</div>


<footer class="fixed bottom-0 left-0 right-0 flex justify-center space-x-2">
<img class="banner" src="https://cyber.dabamos.de/88x31/csbanner.gif" alt="csbanner" height="31" width="88">
<a href="https://roadpirrate.neocities.org/" target="_blank">
    <img class="banner" src="https://hellnet.work/8831/img/buttons/MotorCity_6352_box2.gif" alt="csbanner" height="31" width="88">
</a>
<a href="https://kei.flex.lol/" target="_blank">
    <img class="banner" src="https://cyber.dabamos.de/88x31/cyberdog.gif" alt="cyberdog" height="31" width="88">
</a>
<img class="banner" src="https://cyber.dabamos.de/88x31/cinni_angelbutton3.gif" alt="cinni_angelbutton3" height="31" width="88">
<img class="banner" src="https://cyber.dabamos.de/88x31/reshirii.gif" alt="reshirii" height="31" width="88">
<img class="banner" src="https://cyber.dabamos.de/88x31/tigers.gif" alt="tigers" height="31" width="88">
<img class="banner" src="https://cyber.dabamos.de/88x31/y2kid.gif" alt="y2kid" height="31" width="88">
</footer>
</body>